html {
  overflow-x: hidden;
}

/* Advertisement */
#advertisements {
  margin-top: 2vw;
  width: 81%;
}
.advertisement {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 4vw;
}

/* Start Ordering */
#startorder {
  width: 82%;
  text-align: center;
}

#startorder-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.startorder-option {
  padding-top: 1.4%;
  padding-bottom: 1.4%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #f40027;
  border: none;
  width: 32.7%;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  border-radius: 1vw;
}
.startorder-option a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.startorder-option img {
  height: 3.8vw;
}

#startorder-options button:last-child img {
  height: 3.4vw;
}

.startorder-option a p {
  font-size: 2.5vw;
}

/* Articles */
#articles {
  margin-top: 10vw;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#articles > article {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 60vh;
}

#articles img {
  min-width: 400px;
  width: 40vw;
  border-radius: 3vw;
  margin-left: 50px;
}

#articles article:nth-child(odd) {
  flex-direction: row;
}

#articles article:nth-child(odd) img {
  margin-left: 0px;
  margin-right: 50px;
}
#articles-mobile {
  height: 60vh !important;
}

#articles-mobile img {
  width: 0vw;
  min-width: 300px;
}

#articles-about-image,
#articles-deals-image {
  width: 60vw !important;
  min-width: 0;
}

.articles-learn {
  align-self: flex-end;
  background-color: #f40027;
  border: none;
  padding: 1.2% 2.6%;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  border-radius: 999px;
  margin-top: 10px;
  cursor: pointer;
}

/* Actions */
#actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.actions-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e3002b;
  color: #ffffff;
  border: none;
  border-radius: 2.5vw;
  width: 18%;
  margin: 5%;
  padding: 1.5%;
  cursor: pointer;
}

.actions-button:nth-child(even) {
  background-color: #ffffff;
}

.actions-button:nth-child(even) h3 {
  color: #e3002b;
}

.actions-button-image {
  width: 100%;
  border-radius: 15%;
}

/* Start Order Action 1 Style */
#startorder-action1 {
  background: rgba(33, 28, 28, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

#startorder-action1-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 50%;
  text-align: center;
  padding: 7vh;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #faf5f2;
  z-index: 3;
}

#startorder-action1:target {
  display: block;
}

#startorder-action1-box-location {
  cursor: pointer;
}

.startorder-action1-box-options {
  width: 60vw;
  height: 10vh;
  border-radius: 2vh;
}

.startorder-action1-box-options input {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 2vh;
  border: none;
  background-color: #d7d7d7;
}
.startorder-action1-box-options input:first-child {
  width: 65%;
  margin-right: 2%;
  height: 100%;
  padding-left: 20px;
}

.startorder-action1-box-options input:nth-child(2) {
  width: 24%;
  height: 100%;
  margin-bottom: 0.5em;
  color: #ffffff;
}

#startorder-action1-box-location {
  background-color: #f40027;
  border: none;
  color: #ffffff;
}
.close {
  display: block;
  color: #e3002b;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  font-size: 14pt;
  cursor: pointer;
}
.close:hover {
  color: #b70828;
}

/* Start Order Action 2 Style */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

#startorder-action2 {
  background: rgba(33, 28, 28, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

#startorder-action2-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 75%;
  text-align: center;
  padding: 7vh;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #faf5f2;
  z-index: 3;
}

#startorder-action2:target {
  display: block;
}

#startorder-action2-box-location {
  cursor: pointer;
}

.startorder-action2-box-options {
  width: 60vw;
  height: 10vh;
  border-radius: 2vh;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding: 0 10px;
  border: none;
  background-color: #d7d7d7;
}
#startorder-action2-box-address {
  box-sizing: border-box;
}
#startorder-action2-box-options-submit {
  background-color: #f40027;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* Advertisement SideShow */
/* Hide all slides by default */
.slideshow-container {
  position: relative;
}
.slide {
  display: none;
}

/* Show active slide */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Header Style */
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
  margin: 0.3em;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 2px;
}

h3 {
  font-weight: 700;
  font-size: 2vw;
  margin-bottom: 2px;
  margin: 10%;
}

h4 {
  font-weight: 700;
  font-size: 2.3vw;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.5vw;
  line-height: 1.2em;
  margin-top: 6px;
}

/* Position the previous and next buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 49%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 2.3vw;
}

/* Style the next button */
.next {
  right: 0;
}

/* Style the previous button */
.prev {
  left: 0;
}

@media (max-width: 1500px) {
  #articles article {
    height: 30vh;
  }
}
@media (max-width: 798px) {
  #startorder-options {
    flex-direction: column;
    gap: 3vw;
  }
  .startorder-option {
    padding: 4% 5%;
    background-color: #f40027;
    border: none;
    width: 100%;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    border-radius: 2.5vw;
  }
  .startorder-option a p {
    font-size: 5vw;
  }

  /* Articles */
  #articles {
    margin-bottom: 5vh;
  }
  #articles article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
  }

  #articles img {
    margin-top: 15vw;
    margin-left: 0px;
    width: 10%;
  }
  #articles article:nth-child(odd) > img {
    width: 80vw;
    margin-right: 0px;
  }
  #articles article:nth-child(odd) {
    flex-direction: column;
  }

  .articles-content {
    width: 80vw;
    margin-top: 5vw;
  }
  #articles-mobile {
    width: 80vw;
    height: 50vh !important;
    justify-content: space-between;
  }
  .articles-contentPhone {
    /* width: 33vw; */
    margin-top: 20vw;
  }

  #articles-mobile-img {
    width: 56vw !important;
    min-width: 250px !important;
  }
  .articles-text {
    font-size: 3vw;
  }
  .articles-bannerImage {
    min-width: 80vw !important;
  }
  /* Actions */
  #actions {
    width: 110%;
  }

  /* Header Style */
  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 7vw;
    margin: 0.3em;
  }

  h2 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 2px;
  }

  h3 {
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2px;
    margin: 10%;
  }

  h4 {
    font-weight: 700;
    font-size: 2.3vw;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 2vw;
    line-height: 1.2em;
    margin-top: 6px;
  }

  .startorder-action1-box-options input,
  #startorder-action1-box-location h2 {
    font-size: 4vw;
  }

  #startorder-action2-box-form {
    gap: 1.5vh;
  }

  .close h4 {
    font-size: 5vw;
  }
}
/* Media query for mobile devices */
@media (max-width: 480px) {
  .articles-bannerImage {
    min-width: 80vw !important;
  }
  #articles-mobile-img {
    min-width: 40vw !important;
  }
  #articles-mobile {
    height: 40vh !important;
  }
  h2 {
    font-size: 6vw;
  }
}
