#menu {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}

/* Menu Nav Bar */
#menu-nav {
  background-color: #ffffff;
  width: 15vw;
  display: inline;
  height: 75vh;
  margin-top: 5vh;
  border-radius: 20px 50px 20px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
}

#menu-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc1232;
  color: #ffffff;
  height: 8.6vh;
  border-radius: 20px 50px 0 0;
}

#menu-nav ul {
  margin-top: 2.3vh;
}

#menu-nav ul li {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 3.5vh;
  margin-left: 2vw;
}

/* Menu Items */
.menu-category-title {
  margin-bottom: 3vh;
  padding-top: 3vh;
}

.menu-category {
  margin-bottom: 4vh;
}

.menu-items {
  display: flex;
  flex-flow: row wrap;
  gap: 3vw;
  max-width: 60vw;
}

.menu-item {
  width: 30%;
  height: 280px;
  align-items: center;
  margin-bottom: 3.4vh;
  background-color: #ffffff;
  border-radius: 2.3vh;
  position: relative;
  padding: 0px;
  margin-bottom: -0.5vh;
}

.menu-item-display {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

.menu-item img {
  background-size: cover;
  width: 100%;
  height: 150px;
  border-radius: 2.3vh 2.3vh 0 0;
}

.menu-item h4 {
  margin: 0 0.8vw;
  margin-top: 1vh;
}

.menu-item-price {
  position: absolute;
  bottom: 3vh;
  left: 1vw;
}

a,
a:visited,
a:hover,
a:active {
  color: #000000;

  text-decoration: none !important;
}

.menu-item-add {
  position: absolute;
  bottom: 3vh;
  right: 1vw;
  border: none;
  font-weight: 700;
  font-size: 0.9em;
}

.menu-item-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 7vw;
  background-color: #f40027;
  color: #ffffff;
  border-radius: 999px;
}

#display-item {
  background: rgba(33, 28, 28, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#display-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 50%;
  padding: 3vh;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #faf5f2;
}

#display-item-content {
  display: flex;
  flex-direction: row;
}

#display-item-footer {
  display: flex;
  flex-direction: row;
}

#display-item-footer-counter {
  display: flex;
  flex-direction: row;
}

#display-item:target {
  display: block;
}
.close {
  display: block;
  color: #e3002b;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  font-size: 14pt;
  cursor: pointer;
}

.close:hover {
  color: #b70828;
}
