#menu {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}

/* Welcome Animation */
#menu-welcome-animation {
  position: fixed;
  top: 5vh;
  left: 25vw;
}
/* Menu Nav Bar */
#menu-nav {
  background-color: #ffffff;
  width: 15vw;
  display: inline;
  height: 41vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 20px 50px 20px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 19vh;
}

#menu-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc1232;
  color: #ffffff;
  height: 8.6vh;
  border-radius: 20px 50px 0 0;
}

#menu-nav ul {
  margin-top: 2.3vh;
}

#menu-nav ul li {
  font-weight: 700;
  font-size: 1.5vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
}

/* Menu */
#menu div article:last-child {
  margin-bottom: 30vh;
}

#menu div article:first-child {
  margin-top: -15vh;
}
/* Menu Items */
#items {
  margin-top: 7vw;
}
.menu-category-title {
  margin-bottom: 3vh;
  padding-top: 16vh;
}

.menu-category {
  margin-bottom: -8vh;
}

.menu-items {
  display: flex;
  flex-flow: row wrap;
  gap: 3vw;
  max-width: 60vw;
}

.menu-item {
  min-width: 17.8vw;
  width: 10%;
  height: 280px;
  align-items: center;
  margin-bottom: 3.4vh;
  background-color: #ffffff;
  border-radius: 1.7vw;
  position: relative;
  padding: 0px;
  margin-bottom: -0.5vh;
}

.menu-item-display {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

.menu-item img {
  background-size: cover;
  width: 100%;
  height: 150px;
  border-radius: 1.7vw 1.7vw 0 0;
}

.menu-item h4 {
  margin: 0 0.8vw;
  margin-top: 1vh;
}

.menu-item-price {
  position: absolute;
  bottom: 3vh;
  left: 1vw;
}

a,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none !important;
}

.menu-item-add {
  position: absolute;
  bottom: 3vh;
  right: 1vw;
  border: none;
  font-weight: 700;
  font-size: 0.9vw;
}

.menu-item-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 7vw;
  background-color: #f40027;
  color: #ffffff;
  border-radius: 999px;
}

/* Display Item */

#display-item {
  background: rgba(33, 28, 28, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

#display-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  height: 35vw;
  padding: 4vh;
  border-radius: 4vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #faf5f2;
  z-index: 2;
}

#menu-item-img {
  width: 35vw;
  border-radius: 3vh;
}

#display-item-box-header-title {
  margin-bottom: 2vh;
}

#display-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}

.display-item-box-header-detail {
  font-size: 1.5vw;
}

#display-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  align-items: start;
  width: 100%;
  height: 17vh;
}

#display-item-footer-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-right: 2vw;
}

#display-item-footer-counter button {
  width: 5vh;
  height: 5vh;
  border-radius: 999px;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display-item-footer-counter h2 {
  margin-top: 0;
  padding: 0 1.6vw;
  width: 2.6vw;
  text-align: center;
}

#display-item-footer span button {
  border: none;
  background-color: #f40027;
  cursor: pointer;
}

#display-item-buttons-add {
  height: 8vh;
  width: 25vw;
  border-radius: 999px;
}

#display-item-buttons-add h2 {
  color: #ffffff;
}

#display-item:target {
  display: block;
}

.close {
  display: block;
  color: #e3002b;
  padding: 0 12px;
  margin: 4.5vh;
  text-decoration: none;
  font-size: 14pt;
  text-align: center;
  cursor: pointer;
}

.close:hover {
  color: #b70828;
}

#add-cart-animation {
  display: none;
  position: fixed;
  top: 20vh;
}
/* Display Cart */
.not-displayed {
  opacity: 0;
  height: 0;
}

.displayed {
  display: flex;
  background-color: #faf5f2;
  z-index: 1;
  width: 35vw;
  height: 60vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 20vh;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  border-radius: 5vh 0 0 5vh;
  justify-content: start;
  padding: 5vh;
  padding-top: 0;
  flex-direction: column;
  overflow-y: scroll;
}

.displayed h2 {
  height: 3vh;
  display: block;
}

.cart-content-counter-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Cart Style */
#viewcart-contianer {
  position: relative;
}

#viewcart-title {
  position: fixed;
  top: 20vh;
  width: 37%;
  padding: 4.5vh;
  padding-left: 0;
  text-align: start;
  background-color: #faf5f2;
  box-sizing: border-box;
  transition: transform 0.25s ease-out;
}

#viewcart-title-hidden {
  height: 7vh;
}

.cart-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3vh 0;
}
.cart-content-image {
  max-width: 25%;
  border-radius: 1.5vh;
}

.cart-content-title {
  height: 100%;
  font-size: 1.1em;
  width: 8vw;
  margin: 1vw;
}

.cart-content-price {
  margin: 0;
  font-size: 1.1em;
  width: 5vw;
  text-align: end;
}

.cart-content-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 25%;
}

.cart-content-counter button {
  width: 3vh;
  height: 3vh;
  border-radius: 999px;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 700;
  background-color: #f40027;
  border: none;
}

.cart-content-counter-quantity {
  font-size: 1.3em;
  margin: 0;
  width: 3vw;
  text-align: center;
}

#viewcart-fee-detail {
  position: fixed;
  width: 35vw;
  height: 13vh;
  bottom: 15vh;
  background-color: #faf5f2;
  padding: 2vh 0;
}

.viewcart-fees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
}
#viewcart-fee-detail-hidden {
  height: 13vh;
}

#nav-horizontal {
  display: none;
}
/* Checkbox Style */
/* Hide the default checkbox */
input[type="checkbox"] {
  -webkit-appearance: none; /* Hide default appearance on WebKit browsers */
  -moz-appearance: none; /* Hide default appearance on Mozilla Firefox */
  appearance: none; /* Hide default appearance */
  width: 16px; /* Set width of the custom checkbox */
  height: 16px; /* Set height of the custom checkbox */
  border: 2px solid #b70828; /* Red border for the custom checkbox */
  outline: none; /* Remove outline */
  position: relative;
  margin: 0;
  margin-right: 1vw;
}

#burger-finder {
  margin-left: -0.39vw;
}

/* Tick mark when checkbox is checked */
input[type="checkbox"]:checked {
  background-color: #dc1232;
}

/* Pseudo-element for the tick mark */
input[type="checkbox"]:checked::before {
  content: "\2713"; /* Unicode for checkmark symbol */
  display: block;
  color: white; /* Color of the tick mark */
  font-size: 14px; /* Adjust size of the tick mark */
  text-align: center;
  line-height: 16px; /* Vertically align the tick mark */
  position: absolute;
  top: -1px;
  left: 1px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#nav-horizontal::-webkit-scrollbar {
  display: none;
}

.menu-category-hidden {
  height: 3vh;
}

#heading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
/* Header Style */
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3vw;
  margin: 0.3em;
}

h2 {
  font-weight: 700;
  font-size: 2vw;
  margin-bottom: 2px;
}

h3 {
  font-weight: 700;
  font-size: 2vw;
  margin-bottom: 2px;
  margin: 10%;
}

h4 {
  font-weight: 700;
  font-size: 1.4vw;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.4vw;
  line-height: 1.2em;
  margin-top: 6px;
}

h4 {
  font-weight: 700;
  font-size: 1.6vw;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.5vw;
  line-height: 1.2em;
  margin-top: 6px;
}

@media (max-width: 1160px) {
  #menu-nav {
    height: 42vw;
  }
  .menu-item {
    height: 250px;
  }
  .menu-item img {
    height: 118px;
  }
  .menu-item-add {
    width: 8vw;
  }
  #display-item-buttons-add {
    height: 50px;
  }
  .menu-item-add {
    font-size: 1.1vw;
    width: 42%;
  }
}
@media (max-width: 1020px) {
  #menu-nav {
    height: 43vw;
  }
  #display-item-box {
    height: 40vw;
  }
  h4 {
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 2vw;
    line-height: 1.2em;
    margin-top: 6px;
  }
}
@media (max-width: 960px) {
  #menu-nav {
    height: 42vw;
    border-radius: 15px 35px 15px 35px;
    padding-bottom: 10vw !important;
  }
  #menu-nav div {
    height: 7vh;
    border-radius: 15px 35px 0 0;
  }
  .menu-item {
    width: 40%;
    height: 240px;
  }
}
@media (max-width: 890px) {
  #menu-nav {
    height: 44vw;
  }
  .cart-content-counter-quantity {
    width: 6vw;
  }
  #items {
    margin-top: 8vw;
  }
}
@media (max-width: 790px) {
  .menu-item {
    width: 40%;
    height: 230px;
  }
  #menu-nav {
    height: 50vw;
    /* background-color: #000000; */
  }
  .menu-item img {
    height: 100px;
  }
  .menu-item {
    height: 210px;
  }
  #display-item-box {
    height: 70vh;
  }
  #display-item-content {
    flex-direction: column;
    align-items: start;
  }
  #display-item-footer {
    flex-direction: column;
    align-items: end;
    gap: 2vh;
  }
  #display-item-box-header-title {
    font-size: 3.7vw;
  }
  #display-item-box-header h4 {
    font-size: 3vw;
  }
  #display-item-footer-counter {
    align-items: center;
  }
  #display-item-buttons-add {
    width: 63vw;
  }
  .display-item-box-header-detail {
    font-size: 2.4vw;
  }
  .menu-item-add {
    height: 22px;
  }
  #menu-item-img {
    width: 63vw;
    height: 24vh;
  }
  #display-item-buttons {
    margin-bottom: -2vh;
  }
  .cart-content-image {
    display: none;
  }
  .displayed {
    width: 70vw;
  }
  .cart-content {
    justify-content: space-between;
    width: 96%;
  }
  .cart-content-title {
    width: 28vw;
    margin-left: -1vw;
  }
  #viewcart-fee-detail {
    width: 72%;
  }
  /* Header Style */
  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 3vw;
  }

  h4 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2vw;
    line-height: 1.2em;
    margin-top: 6px;
  }
  #items {
    margin-top: 15vw;
  }
  .menu-item-add {
    width: 12vw;
    height: 3.7vw;
    font-size: 1.6vw;
  }
  #menu-item-img {
    height: 20vh;
  }

  #menu-nav > ul > li > a {
    font-size: 1.9vw;
  }
}
@media (max-width: 690px) {
  #display-item-box {
    height: 60vh;
  }
  #display-item-buttons {
    margin-bottom: -5vh;
  }
  .menu-item img {
    height: 100px;
  }
  .menu-item {
    height: 198px;
  }
}
@media (max-width: 620px) {
  #menu-nav {
    height: 52vw;
  }
}

@media (max-width: 600px) {
  #menu div article:first-child {
    margin-top: -20vh;
  }
  #menu-nav {
    display: none;
  }
  .menu-item {
    width: 48%;
    height: 250px !important;
    margin-bottom: 2.5vh;
  }
  .menu-item-display img {
    height: 130px;
  }
  .menu-items {
    max-width: 85vw;
  }
  #menu {
    width: 100vw;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  #nav-horizontal {
    display: flex;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: #faf5f2;
    z-index: 1;
    height: 14vw;
    justify-content: start;
    position: fixed;
    border-top: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-options-line {
    height: 4vh;
    width: 1.2px;
    background-color: #000000;
  }

  #nav-horizontal > ul {
    display: flex;
    flex-direction: row;
    font-size: 4vw;
    font-weight: 700;
    font-family: "Heebo", Arial;
    overflow: visible;
    align-items: center;
    white-space: nowrap; /* Prevent items from wrapping */
  }
  #nav-horizontal > ul > li {
    width: 29vw;
    text-align: center;
  }
  #items {
    margin-top: 10vh;
  }

  #items {
    margin-top: 32vw;
  }
  /* Header Style */
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 4vw;
  }

  h4 {
    font-size: 3.5vw;
  }

  p {
    font-size: 3vw;
    line-height: 1.2em;
    margin-top: 6px;
  }
  .menu-item-add {
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
  }
  #menu-item-img {
    height: 20vh;
  }

  #display-item-footer-counter {
    margin-left: -3vw;
  }
  #display-item-footer-counter button {
    font-size: 5vw;
    width: 4vh;
    height: 4vh;
  }
  header nav {
    box-shadow: none;
  }
  #menu-welcome-animation {
    left: 1vw;
  }
}

/* Show scrollbar only on hover or scroll */
#nav-horizontal.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

#nav-horizontal:hover:not(.hide-scrollbar)::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

/* Scrollbar thumb */
#nav-horizontal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners */
}

/* Handle when user interacts with the scrollbar */
#nav-horizontal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Darker color on hover */
}

/* Scrollbar track */
#nav-horizontal::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}

@media (max-width: 570px) {
  #display-item-box {
    height: 50vh;
  }
  #display-item-buttons-add {
    height: 6vh;
  }
  .menu-item {
    height: 42vw !important;
  }
}
@media (max-width: 550px) {
  #display-item-box {
    height: 60vh;
  }
  #display-item-buttons-add {
    height: 6vh;
  }
  .menu-item {
    height: 43vw !important;
  }
}
@media (max-width: 450px) {
  .menu-item {
    width: 48%;
    height: 30.5vh !important;
  }
  /* .menu-item-display {
    height: 90vh;
  } */
  .menu-item-display img {
    height: 100px;
  }
  #menu-item-img {
    border-radius: 4vw;
  }
  #display-item-box {
    height: 53vh;
    padding: 4vw;
    border-radius: 6vw;
  }
  #display-item-buttons-add {
    height: 4vh;
    margin-bottom: -5vh;
  }
  .menu-category {
    margin-bottom: -14vh;
  }
  header nav {
    margin: -1vh;
  }
  #items {
    margin-top: 40vw;
  }
  #menu-welcome-animation {
    left: auto;
    top: 30vh;
    width: 400px !important;
    height: 400px !important;
  }
}
@media (max-width: 440px) {
  .menu-item {
    width: 48%;
    height: 24.5vh !important;
  }
}
@media (max-width: 430px) {
  .menu-item {
    width: 48%;
    height: 23.5vh !important;
  }
}
@media (max-height: 480px) {
  #menu-nav {
    display: none;
  }
  #nav-horizontal {
    display: flex;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: #faf5f2;
    z-index: 1;
    height: 6vw;
    justify-content: start;
    position: fixed;
    border-top: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-options-line {
    height: 4vh;
    width: 1.2px;
    background-color: #000000;
  }

  #nav-horizontal > ul {
    display: flex;
    flex-direction: row;
    font-size: 4vw;
    font-weight: 700;
    font-family: "Heebo", Arial;
    overflow: visible;
    align-items: center;
    white-space: nowrap; /* Prevent items from wrapping */
  }
  #nav-horizontal > ul > li {
    width: 29vw;
    text-align: center;
  }
  #items {
    margin-top: 35vh;
  }
}
