/* Normalising CSS File */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Normalising Code */

/* Start of Website Style */

html {
  background-color: #faf5f2;
  font-family: "Heebo", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Nav Bar */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 8vw;
}

#nav-kfc {
  width: 12%;
  height: 12%;
}

#nav-options {
  display: flex;
  flex-direction: row;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  gap: 5vw;
}

#nav-order {
  background-color: #f40027;
  border: none;
  padding: 1.2% 2.2%;
  border-radius: 999px;
}

#nav-order-text {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  color: white;
}

/* Advertisement */
#advertisements {
  width: 81%;
}
.advertisement {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 60px;
}

/* Start Ordering */
#startorder {
  width: 82%;
  text-align: center;
}

#startorder-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.startorder-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.4%;
  padding-bottom: 1.4%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #f40027;
  border: none;
  width: 33%;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: white;
  border-radius: 15px;
}

.startorder-option img {
  height: 60px;
}
#startorder-options button:last-child img {
  height: 50px;
}

/* Articles */
#articles {
  margin-top: 40px;
  margin-left: 6%;
  margin-right: 6%;
}

#articles article {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 60vh;
}

#articles img {
  width: 40vw;
  border-radius: 35px;
  margin-left: 50px;
}

#articles article:nth-child(odd) {
  flex-direction: row;
}

#articles article:nth-child(odd) img {
  margin-left: 0px;
  margin-right: 50px;
}

.articles-learn {
  align-self: flex-end;
  background-color: #f40027;
  border: none;
  padding: 1.2% 2.6%;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  border-radius: 999px;
  margin-top: 10px;
}

/* Actions */
#actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.actions-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e3002b;
  color: #ffffff;
  border: none;
  border-radius: 2.5vw;
  width: 18%;
  margin: 5%;
  padding: 1.5%;
}

.actions-button:nth-child(even) {
  background-color: #ffffff;
}

.actions-button:nth-child(even) h3 {
  color: #e3002b;
}

.actions-button-image {
  width: 100%;
  border-radius: 15%;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

#footer-kfclogo {
  width: 10vw;
  margin: 4%;
}

#footer-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-options-option:first-child {
  margin-left: 10%;
}

.footer-options-option:last-child {
  margin-right: 10%;
}

/* Header Style */
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  margin: 0.3em;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 2px;
}

h3 {
  font-weight: 700;
  font-size: 2.4em;
  margin-bottom: 2px;
  margin: 10%;
}

h4 {
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 2px;
}

p {
  font-size: 1.3em;
  line-height: 1.2em;
  margin-top: 6px;
  margin-bottom: 10px;
}

.footer-options-option ul li a {
  color: black;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 2px;
  text-decoration: none;
}
